.PasswordCard {
  width: 97%;

  @include card-plain;
  @include margin($base-spacing auto null auto);

  @media screen and (min-width: $M) {
    width: 75%;
  }

  @media screen and (min-width: $L) {
    width: 50%;
  }
}
