@mixin icon-panel {
  &__icon-link {
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }

    &_delete {
      color: map-get($theme_colors, danger);

      &:hover {
        color: darken(map-get($theme_colors, danger), 20%);
      }
    }

    &_edit {
      color: map-get($theme_colors, warning);

      &:hover {
        color: darken(map-get($theme_colors, warning), 20%);
      }
    }

    &_view {
      color: map-get($theme_colors, info);

      &:hover {
        color: darken(map-get($theme_colors, info), 20%);
      }
    }
  }
}

.icon-panel-portfolio {
  position: absolute;
  height: 0;
  top: $tiny-spacing;
  right: 42%;
}

.icon-panel-showcase {
  position: absolute;
  height: 0;
  top: $tiny-spacing;
  right: 45%;
}
