= render 'layouts/errors', object: @booking
.container
  .row.justify-content-center
    .col-md-8
      .card.mt-4
        .card-body
          .text-left
            .btn-group
              = button_to 'Bookings', bookings_path, method: 'get', class: 'btn btn-outline-primary btn-lg'
              = button_to 'Read Only', booking_path(@booking), method: 'get', class: 'btn btn-primary btn-lg'
          %hr
          = render 'form'
