= render 'layouts/errors', object: @package_group
.container
  .row.justify-content-center
    .col-md-9
      .card.mt-2
        .card-body
          .text-left
            .btn-group
              = button_to 'Package Index', package_groups_path, method: 'get', class: 'btn btn-outline-primary btn-lg'
          %hr
          = render 'form'
