.container
  .row.justify-content-center.mt-2
    #clearance.password-reset.col-xs-12.col-md-8
      .card
        .card-body
          = form_for :password, url: passwords_path do |form|
            .form-group.row
              = form.label :email, class: 'form-row col-sm-3'
              .col-sm-9
                = form.text_field :email, type: 'email', class: 'form-control form-label'
            .text-center
              = form.submit class: 'btn btn-primary'
